body, html {
    margin: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 0;
}

.banner h1 {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 50px; 
    font-size: 40px;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


a.button {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #55d6aa;
    font-size: 14px;
    font-weight: 150;
    text-align: center;
}

.banner {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("../images/background-img.jpg") no-repeat center center;
    background-size: cover;
    height: 600px;
    
}

.banner img {
    width: 200px;
    margin-top: 2px;
    margin-bottom: 4%;
    float: inherit;
    border-radius: 50%;
}

.banner h2 {
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 30px; 
    font-size: 48px;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

img {
    width: 10%;
}